// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(#) no-repeat;
  background-size: cover;
}

input:focus {
  outline: none;
  box-shadow: 0 0 15px #0C95F0;
}

*{
  font-family: sans-serif;
}

.title{
  font-family: helvetica;
  font-size: 1.5em;
  color:white;
  display: inline-block;
  margin-left:1%;
}

.title-container img{
  margin-top: 1%;
  max-height:5%;
  max-width:5%;
}

.navigation-form-container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1em;
  border-radius: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.navigation-form-container input{
  height:40px;
  width:200px;
  display: inline-block;
  font-size: .8em;
}

a{
  text-decoration: none;
}

.log-submit:hover{
  background-color: #ff6c37;
}

p.notice {
  text-align: center;
  width: 21em;
  color: #5ac85a;
  margin: 0 auto;
  font-size: .8em;
}

.simplemodal-container{
  background-color: rgba(0,0,0,0.4) !important;
  border: none !important;
  padding:0 !important;
  border-radius: 4px;
  height: 381px !important;
}

button.simplemodal-close {
  float: right;
  border: none;
  background-color: transparent;
  color: white;
}

.modal{
  text-align: center;
}

.modal-title{
  color:white;
}

.modal input{
  color:black;
  margin-bottom:1em;
}

.modal-form-container{
  padding-bottom: 1em;
}

.submit-container input {
  border: none;
  padding: .4em;
  border-radius: 4px;
  color: white;
  background-color: coral;
}

.hidden{
  display:none;
}

#start{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border:none;
  border-right: 2px solid gray;
}

#end{
  border: none;
  border-right: 2px solid  #339966;
}

.welcome{
  color:white;
  position:relative;
  display: block;
  width:50%;
  text-align: center;
  margin:12% auto;
}

.submit {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #00cd96;
  vertical-align: middle;
  color: white;
  font-size: 1em;
  border: none;
  width: 13em;
  padding: .5em;
}

.submit:hover{
  background-color: #00a478;
  color: lightgrey;
}

.how-button{
  border:none;
  font-size: 1em;
  padding:10px;
  background-color: rgba(256,256,256,0.3);
  border:1px solid white;
  color:white;
  border-radius: 2px;
}

.how-button:hover{
  background-color: rgba(0,0,0,0.5);
}

.account-button{
  position:relative;
  display:inline-block;
  background-color: transparent;
  color:white;
  margin-left: 70%;
}

.login{
  padding: 5px;
  display: inline-block;
  border:1px solid white;
  border-radius: 3px;
  cursor: pointer;
}

.signup{
  padding: 5px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  border:1px solid white;
}

.account:hover{
  background-color: rgba(0,0,0,0.5);
}

.form-div{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width:40%;
  margin:auto;
}

/****************MEDIA QUERIES***********************************/

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

  *{
    font-family: sans-serif;
  }

  video#bgvid {
    display:none;
  }

  html{
    background-image: url(http://i.imgur.com/0GWg0Lv.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    width: 100%;
  }

  .title{
    font-family: helvetica;
    font-size: 1.5em;
    color:white;
    display: inline-block;
    margin-left:1%;
  }

  .title-container img{
    margin-top: 1%;
    max-height:5%;
    max-width:5%;
  }

  .navigation-form-container form{
    margin: 0 auto;
    padding-bottom: 3%;

  }

  .navigation-form-container input {
    height: 40px;
    display: block;
    margin: auto;
    border-radius: 2px;
    width: 10em;
    border: none;
    margin-top: 4%;
    font-size: 1em;
  }

  .welcome{
    color:white;
    position:relative;
    display: block;
    width:50%;
    text-align: center;
    margin:12% auto;
  }

  .submit {
    border-radius: 2px;
    display: block;
    margin: auto;
    background-color: #00cd96;
    color: white;
    font-size: 1em;
    border: none;
    padding: 10px;
    height: 43px;
    margin-top: 4%;
  }

  .submit:hover{
    background-color: #00a478;
    color: lightgrey;
  }

  .how-button{
    border:none;
    font-size: 1em;
    padding:10px;
    background-color: rgba(256,256,256,0.3);
    border:1px solid white;
    color:white;
    border-radius: 4px;
  }

  .how-button:hover{
    background-color: rgba(0,0,0,0.5);
  }

  .account-button{
    position:relative;
    display:inline-block;
    background-color: transparent;
    color:white;
    margin-left: 70%;
  }

  .login{
    padding: 5px;
    display: inline-block;
    border:1px solid white;
    border-radius: 2px;
  }

  .signup{
    padding: 5px;
    border-radius: 2px;
    display: inline-block;
    border:1px solid white;
  }

  .account:hover{
    background-color: rgba(0,0,0,0.5);
  }

  .form-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
  }
}

